# tf-idf ranking

In [1]:
import pandas as pd

In [2]:
!ls

00_OVERVIEW.ipynb                  geckodriver.log
01_COLLECTION_kh, js.ipynb         img
02_COLLECTION_joongang, hani.ipynb ja_.pkl
02_sentiment_analysis.ipynb        ja_whole.pkl
03_Analytics_cs.ipynb              ja_whole2.pkl
03_cs_wordcloud.ipynb              joongangilbo.csv
03_kh_wordcloud.ipynb              kh_100.pkl
04_sentiment_analysis.ipynb        kh_50.pkl
05_tf-idf ranking.ipynb            kh_data_keywords_v1.pkl
LICENSE                            kh_data_merged_v1.pkl
README.md                          kh_data_merged_v2.pkl
article                            kh_data_merged_v3.pkl
chosun_raw.pkl                     kh_start.pkl
chosun_raw2.pkl                    kh_whole.pkl
cs_data_keywords_v1.pkl            kh_whole_v2.pkl
cs_data_merged_v1.pkl              lexicon
cs_data_tfidf_v1.pkl               tmp
cs_data_tfidf_v2.pkl               userdic.txt
cs_whole.pkl                       wordcloud_without_axisoff.png

### 조선일보

In [4]:
data_raw = pd.read_pickle('cs_data_tfidf_v2.pkl')
data_raw.tail()

,2012.12,2013.01,2013.02,2013.03,2013.04,2013.05,2013.06,2013.07,2013.08,2013.09,...,2016.07,2016.08,2016.09,2016.10,2016.11,2016.12,2017.01,2017.02,2017.03,: 2016.
희생,0.000000,0.000000,0.003801,0.005984,0.000000,0.006709,0.000000,0.00000,0.007096,0.0000,...,0.009968,0.000000,0.008196,0.004502,0.007856,0.002757,0.000000,0.028524,0.0000,0.0
희생자,0.006790,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012545,0.0000,0.0
히틀러,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0
힘,0.009093,0.018371,0.017909,0.017621,0.022868,0.015805,0.016726,0.01029,0.008358,0.0096,...,0.011741,0.002936,0.014481,0.013257,0.004627,0.009741,0.003126,0.019599,0.0053,0.0
힘겨루기,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0

In [7]:
data_raw = data_raw.iloc[:, :-1]
data_raw.to_pickle('cs_data_tfidf_v3.pkl')

### 노트

- dtypes를 float64에서 str로 바꾼다
- 인덱스(단어)를 값 앞에 부여하여 새로운 값을 만든다

In [76]:
data_raw = pd.read_pickle('cs_data_tfidf_v3.pkl')
data_revise = round(data_raw, 3)
data_revise = data_revise.astype('str')

data_revise['label'] = data_revise.index
data_revise.reset_index(drop=True, inplace=True)
data_revise.tail()

,2012.12,2013.01,2013.02,2013.03,2013.04,2013.05,2013.06,2013.07,2013.08,2013.09,...,2016.07,2016.08,2016.09,2016.10,2016.11,2016.12,2017.01,2017.02,2017.03,label
5570,0.0,0.0,0.004,0.006,0.0,0.007,0.0,0.0,0.007,0.0,...,0.01,0.0,0.008,0.005,0.008,0.003,0.0,0.029,0.0,희생
5571,0.007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013,0.0,희생자
5572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,히틀러
5573,0.009,0.018,0.018,0.018,0.023,0.016,0.017,0.01,0.008,0.01,...,0.012,0.003,0.014,0.013,0.005,0.01,0.003,0.02,0.005,힘
5574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,힘겨루기

In [77]:
columns = data_revise.columns
data_result = pd.DataFrame()

for column in columns[:-1]:
    data_sample = data_revise[[column, 'label']]
    data_sample['result'] = data_sample['label'] + "(" + data_sample[column] + ")"
    data_sample = data_sample.sort_values(by=column, ascending=False)[:100]['result']
    data_sample.reset_index(drop=True, inplace=True)

    data_result = pd.concat([data_result, data_sample], axis=1)
data_result.columns = columns[:-1]
data_result.to_csv('cs_tfidf_result_v1.csv')

,2012.12,2013.01,2013.02,2013.03,2013.04,2013.05,2013.06,2013.07,2013.08,2013.09,...,2016.06,2016.07,2016.08,2016.09,2016.10,2016.11,2016.12,2017.01,2017.02,2017.03
0,당선인(0.716),당선인(0.717),당선인(0.617),인사(0.228),북한(0.377),북한(0.292),식품(0.261),전작권(0.221),세제(0.263),공약(0.246),...,공항(0.519),사드(0.419),우(0.336),사드(0.307),재단(0.417),탄핵(0.482),탄핵(0.679),특검(0.301),탄핵(0.397),헌재(0.503)
1,국민(0.141),총리(0.194),핵(0.223),국민(0.214),한(0.205),윤(0.26),탈북자(0.258),국정원(0.182),증세(0.181),민주당(0.203),...,유치(0.199),성주(0.319),특별감찰관(0.31),북(0.289),최순실(0.311),최순실(0.297),최순실(0.216),탄핵(0.248),헌재(0.329),탄핵(0.408)
2,인사(0.133),후보자(0.173),북(0.198),후보자(0.206),대화(0.183),기업(0.178),북(0.257),감사(0.171),국사(0.175),국민(0.202),...,법인세(0.198),괴담(0.218),사드(0.3),핵(0.204),스포츠(0.284),거국(0.194),개헌(0.176),삼성(0.244),최순실(0.226),집회(0.252)
3,후보(0.107),복지(0.15),후보자(0.192),정부조직법(0.195),미(0.182),미(0.164),여성(0.242),주택(0.169),국민(0.168),복지(0.167),...,먼지(0.177),배치(0.187),수석(0.254),야당(0.154),최(0.264),야당(0.159),소추(0.15),부회장(0.211),보수(0.186),재판관(0.208)
4,시대(0.107),공약(0.136),북한(0.172),북한(0.194),징수(0.147),한(0.164),북한(0.19),예산(0.147),복지(0.151),연금(0.164),...,산(0.161),전자파(0.17),대표(0.153),해임(0.153),미르(0.186),퇴진(0.153),퇴진(0.143),합병(0.172),승복(0.182),승복(0.199)

### 경향신문

In [72]:
data_raw = pd.read_pickle('kh_data_tfidf_v1.pkl')
data_revise = round(data_raw, 3)
data_revise = data_revise.astype('str')

data_revise['label'] = data_revise.index
data_revise.reset_index(drop=True, inplace=True)
data_revise.tail()

,2012.12,2013.01,2013.02,2013.03,2013.04,2013.05,2013.06,2013.07,2013.08,2013.09,...,2016.07,2016.08,2016.09,2016.10,2016.11,2016.12,2017.01,2017.02,2017.03,label
6405,0.0,0.0,0.0,0.012,0.0,0.0,0.0,0.0,0.008,0.0,...,0.0,0.0,0.0,0.0,0.005,0.0,0.0,0.0,0.0,희석
6406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,희화
6407,0.0,0.0,0.0,0.013,0.0,0.0,0.0,0.0,0.009,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,힐난
6408,0.024,0.006,0.013,0.01,0.004,0.014,0.008,0.0,0.01,0.012,...,0.004,0.0,0.007,0.0,0.007,0.009,0.015,0.003,0.0,힘
6409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.016,0.0,0.0,...,0.011,0.0,0.0,0.0,0.0,0.0,0.008,0.0,0.0,힘겨루기

In [75]:
columns = data_revise.columns
data_result = pd.DataFrame()

for column in columns[:-1]:
    data_sample = data_revise[[column, 'label']]
    data_sample['result'] = data_sample['label'] + "(" + data_sample[column] + ")"
    data_sample = data_sample.sort_values(by=column, ascending=False)[:100]['result']
    data_sample.reset_index(drop=True, inplace=True)

    data_result = pd.concat([data_result, data_sample], axis=1)
data_result.columns = columns[:-1]
data_result.to_csv('kh_tfidf_result_v2.csv')